.hero {
  display: flex;
  justify-content: space-around;
  width: 98%;
  margin-left: 12px;
  flex-wrap: wrap;
  position: relative;
  top: 120px;
}

.h {
  width: 20%;
  margin-top: 20px;
  margin-left: 20px;
  /* height: 50px; */
}

.heroTitle {
    position: relative;
    top: 120px;
  text-align: center;
  color: rgb(150, 180, 21);
  font-family: cursive;
}

.cardfoot {
  display: flex;
  justify-content: space-between;
}

.cart {
  border: none;
  background-color: white;
  font-size: larger;
}

.cart:hover {
  background-color: rgb(28, 38, 45);
  color: white;
}
