.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 80px;
  border-radius: 13px;
  font-family: serif;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  background-color: white;
}

.logo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 10px;
  color: rgb(211, 45, 8);
}

.nav-links:hover {
  background-color: #01959a;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button {
  padding: 0.5rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out;
}
button {
  background: none;
  border-radius: 4px;
}
.btn-si {
  margin-left: 5px;
}

button:hover {
  background-color: #151516;
  color: #fff;
}

.menu-icons {
  display: none;
}
